.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-in {
  width: 55%;
}
.title {
  margin: 10px 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
